[Desktop Entry]
Name=WhiteNoiseLinux
GenericName=White Noise Audio Player
Type=Application
Exec=whitenoiselinux
Terminal=false
Categories=Audio;AudioVideo
Version=1.0
Icon=whitenoiselinux
