[Desktop Entry]
Name=WhiteNoiseLinux
Type=Application
Exec=/usr/bin/WhiteNoiseLinux
Terminal=false
Categories=Utility;Audio;AudioVideo
Version=1.0
Icon=WhiteNoiseLinux
