[Desktop Entry]
Name=WhiteNoiseLinux
Type=Application
Exec=/usr/bin/WhiteNoiseLinux
Terminal=false
Categories=Utility;Sound;Audio
Version=2.0
Icon=WhiteNoiseLinux
